.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url("../../../public/background_mount_trees2.svg") no-repeat center ;
    background-size: cover;
}

@keyframes easeInAnimationBody {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0px);
    }
}

.body {
    animation: easeInAnimationBody 3s;
    width: 70%;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes easeInAnimationHeader {
    0% {
        transform: translateY(-500px);
    }
    100% {
        transform: translateY(0px);
    }
}

.header_agreement {
    animation: easeInAnimationHeader 3s;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(80,177,70);
}

.language {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.lang_buttons {
    display: flex;
}

.checklist {
    display: flex;
    flex-direction: column;
    color: rgb(226,236,235);
}

.checklist_title {
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: bold;
    color: rgb(226,236,235)
}

.checklist_subtitle {
    font-weight: bold;
    margin-bottom: 1rem;
    color: rgb(226,236,235);
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.list li {
    margin: 0.2rem 0;
    font-weight: normal;
    color: rgb(226,236,235);
}

.lower_title {
    font-weight: bold;
    margin: 1rem 0;
}

.price_includes_wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.includes_title{
    font-weight: bold;
    color: rgb(226,236,235)
}


.price_includes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: bolder;
    color: rgb(226,236,235);
}

@media only screen and (max-width: 600px) {

    .list li {
        font-size: 0.9rem;
    }

    .language {
        justify-content: space-around;
        margin: 1rem 0;
    }
}

.submit_wrap {
    width: 100%;
}
