.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: url("../../../public/background_mount_trees2.svg") no-repeat center ;
    background-size: cover;
}


@keyframes easeInAnimationBody {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0px);
    }
}

.body {
    animation: easeInAnimationBody 3s;
    width: 40%;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(212,175,55, 0.7);
}

@keyframes easeInAnimationHeader {
    0% {
        transform: translateY(-500px);
    }
    100% {
        transform: translateY(0px);
    }
}

.header {
    animation: easeInAnimationHeader 3s;
    font-size: 2rem;
    font-weight: bold;
    color: lime;
    margin: 0 auto;
}

.wrap {
    color: white;
    font-weight: bold;
    margin: 1rem 0;
}


.event {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}