.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url("../../../public/background_mount_trees2.svg") no-repeat center ;
    background-size: cover;
    padding: 1rem;
}

@keyframes easeInAnimationBody {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0px);
    }
}

.body {
    animation: easeInAnimationBody 3s;
    width: 40%;
    border-radius: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0,115,108, 0.7);
}

.form_wrap {
    padding: 0;
}

@keyframes easeInAnimationHeader {
    0% {
        transform: translateY(-500px);
    }
    100% {
        transform: translateY(0px);
    }
}

.header {
    animation: easeInAnimationHeader 3s;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;
}

.wrap {
    color: rgb(226,236,235);
    font-weight: bold;
    margin: 1rem 0;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    align-items: center;
    color: rgb(226,236,235);
}


.event {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(226,236,235);
}
.keyEvent_wrap {
    display: flex;
    flex-direction: column;
    color: rgb(226,236,235);
}