.main_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
}

.header {
    animation: easeInAnimationHeader 3s;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(11,190,125);
    margin: 0 auto;
}

.wrap {
    color: rgb(226,236,235);
    font-weight: bold;
    margin: 1rem 0;
}


.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
}

.radio {
    display: flex;

}

.event_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.event_body {
    color: rgb(11,190,125);
}

.text_correction {
    color: rgb(226,236,235);
    font-stretch: extra-condensed;
}

.title {
    margin: 0 auto;
    padding: .5rem;
    font-weight: bold;
    }

.transfer_body {
    background-color: #7D9B92;
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
}

.input_text {
    border-color: black;
}

.input_text_radio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.required {
    border-color: red;
    font-weight: bold;
    color: red;
}